{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Change password
{% endblock %}


{% block content %}
<div class="content">
    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <form class="auth-form form-border" action="{% url 'change_pwd' %}" method="post">
                {% csrf_token %}
                <div class="form-title">
                    <h3 class="">Change pasword</h3>
                </div>
                <div class="form-group">
                    <label for="pwdInput">Enter current password:</label>
                    <input type="password" class="form-control" name="old_password" id="pwdInput" placeholder="Current password">
                </div>
                <div class="form-group">
                    <label for="pwdInput">Enter new password:</label>
                    <input type="password" class="form-control" name="new_password" id="pwdInput" placeholder="New password">
                </div>
                <div class="form-group">
                    <label for="pwdInput">Repeat new password:</label>
                    <input type="password" class="form-control" name="new_password2" id="pwdInput" placeholder="Repeat new password">
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger pb-0" role="alert">
                        {% for value in form.errors.values %}
                            {{ value }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    <button type="submit" class="btn buttons">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
